.heading {
  text-align: center;
}

.dropdown-head {
  display: flex;
  justify-content: center;
  align-self: center;
}

.dropdown {
  width: 350px;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.add-game-form {
  display: grid;
  grid-template-rows: repeat(4, 80px);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button > button {
  width: 350px;
}
