.leader-board {
  text-align: center;
  font-size: 70px;
}

.twenty-one {
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}

.one-v-one {
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}

.horse {
  text-align: center;
  text-decoration: underline;
  padding: 30px;
}

.name-wins {
  text-align: center;
}
