.leader-board {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
}

.twenty-one {
  text-align: center;
}

.one-v-one {
  text-align: center;
}

.horse {
  text-align: center;
}

.name-wins {
  text-align: center;
}

.add-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
