.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 80px;
}

.nav-bar div {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

img {
  width: 45px;
  padding-right: 10px;
}

.nav-logo {
  display: flex;
  justify-content: center;
}
