.heading {
  text-align: center;
}

.dropdown-head {
  display: flex;
  justify-content: center;
  align-self: center;
}

.dropdown {
  width: 350px;
}

.add-result-form {
  display: grid;
  grid-template-rows: repeat(4, 80px);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button > button {
  width: 350px;
}

.result-header {
  display: grid;
  margin-top: 15px;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.result-header > button.secondary.ui.button {
  grid-row: 1;
  grid-column: 1/2;
  height: 40px;
  width: 100px;
  margin-left: 15px;
}

.result-header > h1 {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .result-header > button.secondary.ui.button {
    width: 80px;
    margin-left: 5px;
    height: 35px;
  }
}
